.navbar{
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    margin-top: 15px;
    margin-bottom: 10px;
}
.info{
    display: block;
    margin-left: 10px;
    display: none;
}
.info span{
    font-weight: bold;
}
.info p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.logo .nav-item{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: capitalize;
}
.navbar a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}
.navbar i{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
.item a:hover{
    background-color: #eee;
}
.navbar:hover{
    width: 280px;
    transition: all 0.5s ease;
}
.navbar:hover  .info{
    display: block;
    transition: all 0.5s ease;
}
.logout{
    position: absolute;
    bottom: 0;
}
.logout a:hover{
    background-color: #0EA5E9;
    color: white;
}